:root {
    --color: #e6007e;
    --txt: rgb(185, 185, 185)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);


}

.content {
    width: 100vw;
    height: 100vh;
}

.content, .logo{
    display: flex;
    flex-flow: row wrap;
}

/* left side (picture) */
.picture {
    background-image: url(../assets/space-g1e38f8dc5_1920.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo {
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;

    justify-content: center;
    align-items: center;
}

h1{
    color: white;
}

.whale {
    height: 10vh;
    
}

/*right side (form and content)*/

.right {
    width: 60vw;
    background-color: #000000;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.left {
    padding-left: 3vw;
}

.dummy-text {
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
}

.remote-text {
    margin: 40px 0 80px;
}

.form {
    background-color: rgb(6, 6, 6);
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    
    padding-top: 0px;
    padding-bottom: 20px;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%;
}

.form-title {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
}

input {
    background-color: rgb(2, 2, 2);
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 1px solid var(--color);
}

/*separator line*/
.separator-line {
    /* padding-left: 3vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.or-word {
    color: var(--color);
}

.left-line {
    width: 45%;
    padding: 1vw;
    color: #e6007e;
}
/* .left-line > hr {
    border: 1px solid #e6007e;
}
.right-line > hr {
    border: 1px solid #e6007e;
} */

.right-line {
    width: 45%;
    padding: 1vw;
}



.social-container {
    display: flex;
    flex-direction: row;

    /* margin-left: 10vw; */
    margin-bottom: 4vh;
    margin-top: 2.5vh;
    gap: 9vw;
    justify-content: center;
    /* height: 400px; */
    color: white;
}


.social-signups {
    
    font-size: 40px;
}
.social-signups:hover {
    scale: 1.3;
}
.social-signups:hover .google > svg > path {
    fill: var(--color);
}
.social-signups:hover .github > svg > path {
    fill: var(--color);
}
.social-signups:hover .facebook > svg > path {
    fill: var(--color);
}


/* green tick animation , have to add later */
/* svg {
    width: 90px;
    display: block;
    margin: 40px auto 0;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s .35s ease-in-out forwards;
      animation: dash .9s .35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
  }
  
  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
    &.success {
      color: #73AF55;
    }
    &.error {
      color: #D06079;
    }
  }
  
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
   */





button{
    background-color: rgba(0, 0, 0, 0);
    color: var(--color);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--color);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
}

button:hover {
    background-color: var(--color);
    color: black;
}

.log-in {
    display: flex;
    gap: 5px;
}

a{
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
}

a:hover{
    color: white;
}

/*media queries to handle small size*/
@media only screen and (max-width: 730px)  {
    .content{
        flex-flow: column;
        height: auto;
        text-align: center;
    }
    .picture{
        width: 100vw;
        height: 25vh;
        display: flex;
        background-size: 100vw;
    }
    .logo{
        width: 100vw;
        position: static;
        gap: 10px;
    }
    .right{
        width: auto;
        height: auto;
    }
    .dummy-text{
        width: auto;
        margin-top: 30px;

    }
    .left{
        padding: 10px 20px;
    }
    .remote-text{
        padding: 20px 0;
        margin: 0;
    }
    .form{
        flex-flow: column nowrap;
        align-items: center;

    }
    .input{
        text-align: left;
        width: auto;
        font-size: 0.9em;
        justify-content: center;
        align-items: center;
    }
    input{
        font-size: 0.9rem;
        height: 1.5rem;
        width: 70vw;
    }
    .button,
    .log-in{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    button{
        margin-bottom: 0px;
        width: 60vw;
        padding: 10px 5px;
    }
    .separator-line {
        justify-content: center;
    }
    .left-line, .right-line {
        width: 40%;
    }
    .social-container {
        
        padding-left: 0;
        justify-content: center;
        gap: 5vw;
    }

}